.create-transaction {
    @include btn(regular, $clr2, $clr1, em(10px) em(10px));
    max-width: fit-content;
    font-size: em(25px);
    border-radius: 50%;
    letter-spacing: em(0.6px);
    box-shadow: 2px 2px 3px #999;
    position: sticky;
    // top: calc(100vh - 110px);
    bottom: 30px;
    margin-left: calc(100% - 55px);
    // width: 50px;

    @media (max-width: 660px){
        // margin-left: calc(100% - 70px);
    }
    @media (max-width: 530px){
        // margin-left: calc(100% - 50px);
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
