.transaction-edit {
    padding: 15px;
    h1 {
        text-align: center;
        color: $clr2;
    }
    table {
        color: $clr3;
        tr {
            td {
                padding-bottom: 15px;
                label{
                    text-decoration:underline;
                    margin-right:5px;
                }
                input,select {
                    color: $clr3;
                    border: none;
                    &:focus{
                        outline: $clr2 auto 0.5px;
                        // outline: $clr2;
                        // outline-width
            
                    }
                }
            }
            button {
                @include btn(regular, $clr2, $white, em(5px) em(15px));
            }
        }
    }
}
