.transaction-list {
    flex-direction: column;
    .monthly-list {
        margin-bottom: 10px;
        h1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
           .month {
                color: $clr4;
            }
            .num-of-trans{
                font-size: 14px;
                color: $clr3;
                padding-right: 5px;
            }
        }
    }
}
