// Flex
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}

// List
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.prime-header {
    font-weight: 600;
    font-size: 18px;
}



// // Text
// .vertical-text {
//     writing-mode: tb-rl;
//     transform: rotate(-180deg);
// }

// .tag-text {
//     color: $clr1;
//     text-transform: uppercase;
//     @include type(boldCondensed);
// }

// // Aspect ratios

// .ratio-16-9 { @include aspect-ratio(100, 56); }

// .ratio-square { @include aspect-ratio(100, 100); }

// .ratio-card { @include aspect-ratio(100, 80); }

// .ratio-poster { @include aspect-ratio(100, 150); }

.icon {
    &-sm,
    &-md,
    &-lg {
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: aqua;
        border-radius: 3px;
        margin-right: 6px;
    }
    &-sm {
        // color: #42526e;
        font-weight: 400;
        font-size: 16px;
        height: 20px;
        line-height: 20px;
        width: 20px;
        // -webkit-font-smoothing: antialiased;
        // font-style: normal;
        // text-align: center;
        vertical-align: -2px;
    }
    &-md {
        height: 26px;
        line-height: 26px;
        // background-color: aqua;
        // color: #42526e;
        font-size: 20px;
        // margin-right: 6px;
        width: 26px;
    }
    &-lg {
        // background-color: aqua;
        // color: #42526e;
        font-size: 24px;
        height: 32px;
        line-height: 32px;
        width: 32px;
        // margin-right: 6px;
    }
}


.bold{
    font-weight: 700;
}